* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: black;
}
h1 {
  color: aliceblue;
}
p {
  color: aliceblue;
}
#contact {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
  margin-top: 2rem;
}
#biography {
  color: aliceblue;
}
#skills {
  color: aliceblue;
}

/*Nav*/
.nav {
  background-color: rgba(43, 43, 43, 0.833);
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  font-size: 1.25rem;
}

.site-title {
  font-size: 2rem;
  text-decoration: none;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  align-items: center;
}
.nav li:hover {
  color: #ff004f;
}

/* ------------portfolio--------- */
#portfolio{
    display: flex;

}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
     grid-gap: 40px; 
     margin-top: 50px; 
}
.work{
    color: #ababab;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    height: 325px;
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    background-color: #353333;
    text-align: center;
    padding-top: 50%;
}

.layer{
    color: aliceblue;
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(2, 2, 2, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}


/* Contact */

.btn.btn2 {
  margin-top: 3rem;
  width: 20%;
  display: inline-block;
  background: #ff004f;
}
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
.contact-left p {
  margin-top: 30px;
}
.contact-left p i {
  color: #ff004f;
  margin-right: 25px;
  font-size: 35px;
}

.social-icons {
  margin-top: 3rem;
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform(0.5s);
}
.social-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}

.contact-right form {
  width: 100%;
  margin-top: 3rem;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

form .btn2 {
  color: #000000;
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
